---
layout: default
---

<div class="home">

  <div id="get-started">

    <div class="loadfix">
    </div>

    <div class="get-started-container">
      <div class="get-started-locomotion">
        {% include toolset-graphic.html %}
      </div>

      <p class="get-started-callout">
        UX Designer and Product Team Lead at Booking.com <br>
        Based in Amsterdam, NL.
      </p>
    </div>
  </div>

  <div class="home-full-width-graphic-window full-width-graphic-window">
  </div>
  <div class="home-full-width-graphic-holder full-width-graphic-holder parallax">
  </div>

  <main class="page-content page-home" aria-label="Content">
    <div class="wrapper">

      <div class="design-philosophy home-section" id="design-philosophy">

        <p>I suspect that you are here either becuase you have a good reason to have a collaborative conversation with me. Maybe we met on a train. Maybe you came across me on the digital plane. You see, I currently work in travel and our dream is to help people experience the world... and that's what I was doing!</p></p>

        <p>So, I am a creative computer geek from California. I love to build things and help people solve complex problems. I thrive as a team leader. I am currently working for the travel enabler, Booking.com. Here I have worked as the technical lead and UX designer on teams in the marketing department that have developed new products to reward travelers with credits and find and use rewards. On these teams we would start with a pretty big hypothesis, orchestrate a boot camp or design sprint, talk to relevant stakeholders and start prototyping, user testing, and experimenting with a business that connects over xxx,xxx hotels and travelers a night. I have also spent time on teams focused on customer journey optimization with a focus on users coming from PPC, SEO, and Meta traffic. I am the team lead for this team as well.</p>

        <p>I believe that everything else that you need to know can be learned. This website is a place for me to share solutions to real world problems in an effort to collectively progress our understanding of our shared interests, where technology and our lives collide.</p>

      </div>

      <div class="home-section home-featured">
        <h2 class="section-title design-philosophy-section-title">CASE STUDIES AND ARTICLES:</h2>
        {% include home-featured.html %}
      </div>

    </div>
  </main>
</div>

<script src="{{ "/assets/js/home.js" | relative_url }}"></script>
<script type="text/javascript">
  addHeader();
  addHeaderBoarder();
</script>
